/* 
 *
 * Stylesheet for the Mobile App 
 *
 */ 

@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* GENERAL CSS */ 

p { 
	font-family:'EB Garamond', serif;
	font-size: 20px; 
	text-transform: none;
}

/* CHECK IN PAGE */ 

#cancel_checkin_btn { 

    width: 100%;
    margin: 0 auto;
    margin-top: 10px;

}

#submit_checkin_btn { 
	width: 100%; 
	margin: 0 auto; 
}
